@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body{
  background-color: bisque;
}

h1{
  color: cornflowerblue;
  transition: color .5s ease-in-out;
}

.active {
  color: tomato;
}

.sexy-font {
  font-family: 'Open Sans', sans-serif;
}